.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.checkbox-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.checkbox-container input {
  display: none;
}

.checkbox-container svg {
  overflow: visible;
  width: 1.25rem;
  height: 1.25rem;
}

.path {
  fill: none;
  stroke: #4ade80;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease;
  stroke-dasharray: 0 0 240 9999999;
  stroke-dashoffset: 1;
  scale: -1 1;
  transform-origin: center;
  animation: hi 0.5s;
}

.checkbox-container input:checked ~ svg .path {
  stroke-dasharray: 0 262 70 9999999;
  transition-delay: 0s;
  scale: 1 1;
  animation: none;
}

.checkbox-label {
  font-size: 0.875rem;
  font-weight: 500;
  user-select: none;
  transition: color 0.3s ease;
}

.checkbox-label.dark {
  color: #d1d5db;
}

.checkbox-label.light {
  color: #374151;
}

@keyframes hi {
  0% {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 1;
  }
}
